body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.react-resizable-handle {
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10px;
  padding-left: 0px;
  z-index: 1;
}
.dark-not-user-hierarchy td {
  background-color: #3a4d39 !important;
}
.white-not-user-hierarchy td {
  background-color: #b2c8ba !important;
}
.dark-has-object td {
  background-color: #874d00 !important;
  color: white;
}
.white-has-object td {
  background-color: #ffd591 !important;
}
.dark-has-bl-object td {
  background-color: #820014 !important;
  color: white;
}
.white-has-bl-object td {
  background-color: #ff7875 !important;
}
.ant-checkbox + span {
  margin: auto 0;
}
.ant-pagination-options .ant-select {
  height: 28px;
}
.ant-table-filter-trigger {
  margin-right: 10px !important;
  z-index: 99;
  padding: 2px !important;
}
.ant-table-column-sorter {
  padding-right: 5px !important;
}
.ant-tag-checkable-checked {
  background-color: rgb(75, 101, 142);
}
.ant-table-row-expand-icon-cell {
  width: 20px !important;
  font-size: 12px;
}
.ant-table-row-expand-icon::before {
  top: 7px;
  inset-inline-end: 3px !important;
  inset-inline-start: 3px !important;
  height: 1px !important;
}
.ant-table-row-expand-icon::after {
  top: 3px !important;
  bottom: 3px !important;
  inset-inline-start: 7px !important;
  width: 1px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* .anticon {
  font-size: 12px !important;
} */
.pointerEventsNone {
  pointer-events: none;
}
.ant-layout-header {
  line-height: 13px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.ant-menu-horizontal {
  line-height: 30px !important;
}
/* Track */
::-webkit-scrollbar-track {
  /* background: #3c3434; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
